<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hansihe.zimdroid.app" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/ZimTheme" >

        <meta-data android:name="roboguice.annotations.packages" android:value="com.hansihe.zimdroid.app"/>

        <activity
            android:name="com.hansihe.zimdroid.app.MainActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize"
            android:parentActivityName="com.hansihe.zimdroid.app.GreeterActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.hansihe.zimdroid.app.GreeterActivity" />
        </activity>
        <activity
            android:name="com.hansihe.zimdroid.app.PageViewActivity"
            android:label="@string/title_activity_page_view" >
        </activity>
        <activity
            android:name=".TestActivity"
            android:label="Test"/>

        <activity
            android:name="com.hansihe.zimdroid.app.GreeterActivity"
            android:label="@string/title_activity_greeter"
            android:windowSoftInputMode="adjustResize" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
